dist: focal

language: go

go:
- 1.16

before_install:
- sudo apt reinstall --yes ca-certificates

install:
- go get -v -t ./...
- go get github.com/mattn/goveralls

script:
- go vet ./...
- go test ./... -cover=1 -coverprofile=_c.cov
- go test ./... -race
- $GOPATH/bin/goveralls -service=travis-ci -coverprofile=_c.cov
