dist: jammy

language: go
go: go1.25.5

addons:
  apt:
    update: true
    packages:
    - ca-certificates

install:
- go1.25 install -v ./...
- go1.25 install github.com/mattn/goveralls@latest

script:
- go1.25 vet ./...
- go1.25 test -timeout 5m -p 1 ./... -cover=1 -coverprofile=_c.cov
- go1.25 test -timeout 5m ./... -race

after_success:
# Note: Do this in the after_success stage so that
# a broken coveralls won't cause the build to fail.
# (details: https://github.com/lemurheavy/coveralls-public/issues/1264)
- $GOPATH/bin/goveralls -service=travis-pro -coverprofile=_c.cov
